---
layout: default
title: Conference 12 May 2023 | Stockholm
image: assets/images/BG-web green.jpg

---
{% include cover.html %}
<!-- end of cover -->
{% include banner-1.html %}
<!-- end of banner-1  -->
{% include welcome.html %}
<!-- end of welcome -->
{% comment %} {% include travelling.html %} {% endcomment %}
<!-- end of travelling -->
{% comment %} {% include register.html %} {% endcomment %}
<!-- end of register -->
{% include banner-2.html %}
<!-- end of banner-2 -->
{% comment %} {% include recordings.html %} {% endcomment %}
<!-- end of recordings -->
{% include banner-5.html %}
<!-- end of banner-5 -->
{% comment %} {% include video.html %} {% endcomment %}
<!-- end of video -->
{% include schedule.html %}
<!-- end of schedule -->
{% include keynotes.html %}
<!-- end of keynotes -->
{% include speakers.html %}
<!-- end of speakers -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% comment %} {% include trainers.html %} {% endcomment %}
<!-- end of trainers -->
{% comment %} {% include training.html %} {% endcomment %}
<!-- end of training -->
{% comment %} {% include banner-3.html %} {% endcomment %}
<!-- end of banner-3 -->
{% include diversity.html %}
<!-- end of diversity -->
{% include banner-4.html %}
<!-- end of volunteer -->
{% include venue.html %}
<!-- end of venue -->
{% comment %} {% include hotels.html %} {% endcomment %}
<!-- end of hotels -->
{% comment %} {% include covid-19.html %} {% endcomment %}
<!-- end of covid-19 -->
{% comment %} {% include hybrid.html %} {% endcomment %}
<!-- end of hybrid -->
{% comment %} {% include shop.html %} {% endcomment %}
<!-- end of shop -->
{% comment %} {% include blog.html %} {% endcomment %}
<!-- end of blog -->
{% include cft.html %}
<!-- end of cft  -->
{% include members.html %}
<!-- end of cft  -->
{% include sponsors.html %}
<!-- end of sponsors -->
{% comment %} {% include newsletter.html %} {% endcomment %}
<!-- end of newsletter -->
{% include contact.html %}
<!-- end of contact -->
