---
layout: default
title: Code BEAM Lite Stokchom 2024
image: assets/images/CB_STO_2024_1920x1080-4.jpg

---
{% include cover.html %}
<!-- end of cover -->
 {% include banner-2.html %}
<!-- end of banner-2 -->
{% include welcome.html %}
<!-- end of welcome -->
{% include banner-1.html %}
<!-- end of banner-1  -->
{% comment %} {% include travelling.html %} {% endcomment %}
<!-- end of travelling -->
{% include keynotes.html %}
<!-- end of keynotes -->
{% include speakers.html %}
<!-- end of speakers -->
{% include register.html %}
<!-- end of register -->
{% comment %} {% include recordings.html %} {% endcomment %}
<!-- end of recordings -->
{% comment %} {% include video.html %} {% endcomment %}
<!-- end of video -->
{% comment %} {% include schedule.html %} {% endcomment %}
<!-- end of schedule -->
{% comment %} {% include mentoring.html %} {% endcomment %}
<!-- end of hybrid -->
{% comment %} {% include lightningtalks.html %} {% endcomment %}
<!-- end of lightningtalks -->
{% include trainers.html %}
<!-- end of trainers -->
{% include training.html %}
<!-- end of training -->
{% comment %} {% include banner-3.html %} {% endcomment %}
<!-- end of banner-3 -->
{% comment %} {% include diversity.html %} {% endcomment %}
<!-- end of diversity -->
{% comment %} {% include banner-4.html %} {% endcomment %}
<!-- end of volunteer -->
{% comment %}{% include cft.html %}{% endcomment %}
<!-- end of cft  -->
{% include members.html %}
<!-- end of members  -->
{% comment %} {% include hotels.html %} {% endcomment %}
<!-- end of hotels -->
{% comment %} {% include covid-19.html %} {% endcomment %}
<!-- end of covid-19 -->
{% comment %} {% include shop.html %} {% endcomment %}
<!-- end of shop -->
{% comment %} {% include blog.html %} {% endcomment %}
<!-- end of blog -->
{% include banner-5.html %}
<!-- end of banner-5 -->
{% include venue.html %}
<!-- end of venue -->
{% include sponsors.html %}
<!-- end of sponsors -->
{% comment %}{% include newsletter.html %}{% endcomment %}
<!-- end of newsletter -->
{% include contact.html %}
<!-- end of contact -->
