<div class="cover" id="cover" style="background-image: url('{{site.baseurl}}/assets/images/BG-web green.jpg');">
  <div class="logo">
    <img
      src="{{ site.baseurl }}/assets/images/CodeBeamLite_STOCKHOLM-logo-z_ramka-regular.svg"
      alt="CodeBeam Lite"
      width="90%"
    />
  </div>
  <div class="col-right">
    <h4 class="date" style="color: #4DBA12">
      CODE BEAM LITE STOCKHOLM 2023 <br /> SWEDEN<br />
       <!-- In-person Event<br /> -->
      <span style="color: #fff; font-size: 22px">Stockholm, 12 May 2023</span><br />
      <span style="color: #fff; font-size: 22px">In-person Event</span><br />
      <span style="color: #fff; font-size: 18px"><br >
        A full day celebration of the Erlang and Elixir Ecosystem.
        <br > <br />
Meet people and companies using and developing high performance, fault-tolerant and resilient applications that scale to billions of users in production in areas like Fintech, eCommerce, IoT, Gaming, Blockchain, Security, Machine Learning and more.
<br><br />
Highlights this year: <br><br />
<li>Rock solid tools and techniques that solve real problems and increase productivity on small and large scale including Buck2, eqWAlizer, mnesia and zigland</li>
<li>Exploring reversible debugging, computer vision, and using phoenix for demoing supervisors     </li>
<br >
 </span>
    </h4>

    </span><p>
 <span style="color: #FFFFFF; font-size: 22px">LEARN&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSHARE&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspINSPIRE</span>
</span>
    </p>
    <p>
    <span style="color: #4DBA12;">

      <a href="#register">Register</a> |
      <a href="#cft">Call for speakers</a> |
      <a href="#baner-4">Voluteering</a>

    </p>

        <!-- highlights -->
        <!-- Conference and Tutorial Highlights:
        <br />
        <a href="/talks/refactoring-via-the-language-server-protocol/">-> Refactoring via the Language Server Protocol</a><br>
        <a href="/talks/an-elixir-application-to-a-small-hydropower-plant-with-nerves-machines/">-> An Elixir application to a small hydropower plant with Nerves machines</a><br>
        <a href="/talks/elixir-update/">-> Elixir Update with Andrea Leopardi</a><br>
        <a href="/talks/deep-dive-in-nx-backends/">-> Deep dive in Nx Backends</a><br>
        <a href="/trainings/Architecting-reactive-systems/">-> Architecting Reactive Systems with Francesco Cesarini</a>
        </p> -->


        <!-- counter -->
     <!-- <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
       <span style="color: #e32dfd;">
         2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         30+ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         300+</span>
       <br>
       DAYS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       TRACKS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       SPEAKERS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       ATTENDEES
     </h4>
     <br> -->

     <!-- call for participation  -->

    <!-- <h4 class="date" style="text-align:center;">Call for Talks for 2022 is open!</h4>
    <a class="page-scroll btn-outline mb-3 btn-purple" href="https://sessionize.com/code-beam-america-2022/">SUBMIT TALK</a> -->
    <!--<a class="page-scroll btn-arrow" href="#welcome">
      <span class="fa fa-chevron-down"></span>
    </a>-->
  </div>
 <!--  <div class="cover-bottom">
    <h4 class="call-for-talks" style="color: #fff; font-size: 22px">
      <span style="color: #e32dfd;">CALL FOR TALKS</span>
      <br>
      IS OPEN AND CLOSES ON 17 JULY 2022
    </h4>
  </div>-->
</div>
