<div class="section welcome" id="diversity">
    <h2 class="title">DIVERSITY</h2>
    <hr/>
    <p class="text-content">
       Thanks to Erlang Solutions we're running a Diversity & Inclusion Programme for Code BEAM Lite Stockholm! </br>The goal of the programme is to increase the diversity of attendees and offer support to groups underrepresented in the tech community who would not otherwise be able to attend the conference. The Diversity & Inclusion Programme focuses primarily on empowering women, ethnic minorities or people with disabilities, among others, but everybody is welcome to apply.

 Read more about the process <a href="https://codesync.global/opportunity-scheme/" target="_blank">here</a>.
    </p>
    <p class="text-content mb-5" align="center" style="margin-top:3em">
    <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://docs.google.com/forms/d/e/1FAIpQLSenG0D_JGUiPJPuD9NSavp1aJnCcVMA62J3jgWcQtM7d4N2kg/viewform?usp=sf_link">Apply</a>
</div>
