<div class="section hybrid" id="hybrid">
    <div class="row">
        <div class="left-content left">
          <h2 class="title">MENTORING WITH ROBERT VIRDING</h2>
          <hr/>
          <p>Have you ever imagined what it would be like to ask the most troublesome questions to one of the inventors of Erlang? And actually, get all the answers?

            <br/><br/>For the first time, Robert Virding will be holding Erlang mentoring sessions, a priceless experience. For a 2-hour session, you can ask questions, and get help with technical issues and solutions that you have always been searching for.

<br/><br/>This is your chance to get undivided attention and personalised knowledge from the co-inventor or Erlang!

<br/><br/>Mentoring sessions will be organized for a maximum of 3 participants so you can join a session alone or with your teammates. Robert will answer all your questions, without exception.

<br/><br/>NOTE: there are only 4 sessions available - so book now!

          </p>
          <p class="text-content mb-5" align="center" style="margin-top:3em">
              <a class="page-scroll btn-outline btn-orange mb-5 btn-orange" href="https://codebeamamerica.com/2022/05/25/Hybrid-conference/">BOOK TRAINING</a>
          </p>
        </div>
        <div class="logo">
          <br/>
          <img src="/assets/images/RobertV.jpg" alt="hybrid-conference" style="display:block; width:80%; margin-left: auto; margin-right: auto">
        </div>
    </div>
</div>
