<div class="section register" id="register">
    <h2 class="title">REGISTER</h2>
    <hr/></br></br>
    <div class="register-widget" id="eventbrite-widget-container-195908887757">&nbsp;</div>


<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '416821172347',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-416821172347',
        onOrderComplete: exampleCallback
    });
</script>
</div>
