<div class="section venue" id="venue" style="background-image: url('{{site.baseurl}}/assets/images/STOvenue.jpg');">
    <div class="row">
        <div class="left-content left">
            <h2 class="title">VENUE:</h2>
            <hr/>
            <p class="venue-subtitle">Ericsson Open Box</p>
            <p class="venue-text">Grönlandsgatan 8, Kista/Stockholm
          <br>
                Stockholm,<br>
                Sweden<br>
              +46 8 586 107 00</p>
                <h2 class="venue-subtitle">
                  <strong><a href="https://www.ericsson.com/en/about-us/company-facts/ericsson-worldwide/sweden" style="color: #4DBA12" target="_blank">VENUE DETAILS</a><br>
                </h2>

        </div>
        <div class="right-content">
            <br/>
            {% include map.html %}
        </div>
    </div>


</div>
