<div class="section welcome" id="welcome">
     <h2 class="title">WELCOME</h2>
     <hr/>

     <div class="row align-center">
         <div class="left-content flex-end">
             <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="400" src="https://www.youtube.com/embed/oMfRhvti734" width="100%"></iframe>
         </div>
         <div class="right-content">
             <h3 class="text-title mb-1">The Swedish Event for Erlang and Elixir Developers</h3>
              <p> Our event will bring developers across the Nordics together in Stockholm to experience thought provoking talks that will help to shape the future of Erlang and Elixir all while celebrating the vivid history of BEAM languages.

          <br><br>


          Beginners will love that our talks are coded by level so that it’s easy to identify talks that would be suitable for a beginner audience.

          <br><br>

    Advanced developers will appreciate that our programme is packed with cutting-edge thought provoking talks. At Code BEAM Lite Stockholm we will uncover how BEAM languages are transforming areas like IoT, Fintech,Machine Learning, Blockchain, Security and more! Our conferences also provide a platform for attendee’s to enhance their network and provide them with the opportunity to reconnect with old friends and colleagues in-person within the region.
          <br>
          <br>
          Developers of every level can expect to learn from each other, share knowledge all while growing our community reach in the Nordics.
          <br>
            <br>
          Don’t miss your chance to take part in what is sure to be the must attend BEAM event in Sweden.

              </p>
         </div>
     </div>
 </div>
